export(speed2plot)
export(speed2run)
import(dplyr)
import(tibble)
import(ggplot2)
import(cowplot)
importFrom("grDevices", "colorRampPalette")
importFrom("stats", "p.adjust", "pnorm")
importFrom(magrittr,"%>%")
